/*
 * ZMK keymap para Lily58 + nice!nano
 * Basado en el layout QWERTY/LOWER/RAISE de referencia proporcionado por el usuario.
 * Incluye soporte para ZMK Studio (tecla &studio_unlock en LOWER, esquina superior izquierda).
 */

#include <behaviors.dtsi>
#include <dt-bindings/zmk/keys.h>
#include <dt-bindings/zmk/bt.h>
#include <dt-bindings/zmk/outputs.h>

#define DEFAULT 0
#define LOWER   1
#define RAISE   2

/ {
    keymap {
        compatible = "zmk,keymap";

        default_layer {
            display-name = "QWERTY";
            bindings = <
&kp ESC    &kp N1  &kp N2  &kp N3    &kp N4   &kp N5                        &kp N6    &kp N7   &kp N8    &kp N9    &kp N0    &kp GRAVE
&kp TAB    &kp Q   &kp W   &kp E     &kp R    &kp T                         &kp Y     &kp U    &kp I     &kp O     &kp P     &kp MINUS
&kp LCTRL  &kp A   &kp S   &kp D     &kp F    &kp G                         &kp H     &kp J    &kp K     &kp L     &kp SEMI  &kp SQT
&kp LSHFT  &kp Z   &kp X   &kp C     &kp V    &kp B   &kp LBKT     &kp RBKT &kp N     &kp M    &kp COMMA &kp DOT   &kp FSLH  &kp RSHFT
                    &kp LALT  &kp LGUI  &mo LOWER  &kp SPACE       &kp RET  &mo RAISE  &kp BSPC  &kp RGUI
            >;
        };

        lower_layer {
            /* Capa de código: pares de símbolos en espejo en la fila home
             * (abres con la izquierda, cierras con la derecha), pensada para
             * C#/.NET: {}, (), [], <> y ; muy accesibles. */
            display-name = "CODE";
            bindings = <
&studio_unlock &kp EXCL  &kp AT    &kp HASH  &kp DLLR  &kp PRCNT                    &kp CARET &kp AMPS  &kp ASTRK &kp LPAR  &kp RPAR  &kp UNDER
&trans         &trans    &trans    &trans    &trans    &trans                       &trans    &trans    &trans    &trans    &trans    &trans
&trans         &kp UNDER &kp LPAR  &kp LBRC  &kp LBKT  &kp LT    &kp GT    &kp RBKT  &kp RBRC  &kp RPAR  &kp SEMI  &kp COLON
&trans         &kp EQUAL &kp PLUS  &kp DQT   &kp SQT   &kp BSLH  &trans      &trans  &kp PIPE  &kp QMARK &kp GRAVE &kp TILDE &trans   &trans
                         &trans    &trans    &trans    &trans           &trans   &trans   &trans   &trans
            >;
        };

        raise_layer {
            display-name = "RAISE";
            bindings = <
&trans  &trans   &trans   &trans   &trans   &trans                        &trans   &trans   &trans   &trans   &trans   &trans
&trans  &kp N1   &kp N2   &kp N3   &kp N4   &kp N5                        &kp N6   &kp N7   &kp N8   &kp N9   &kp N0   &trans
&trans  &kp F1   &kp F2   &kp F3   &kp F4   &kp F5                        &kp LEFT &kp DOWN &kp UP   &kp RIGHT &trans  &trans
&trans  &kp F6   &kp F7   &kp F8   &kp F9   &kp F10 &trans       &trans   &trans   &kp MINUS &kp EQUAL &kp LBKT &kp RBKT &kp BSLH
                  &trans   &trans   &trans   &trans           &trans   &trans   &trans   &trans
            >;
        };
    };
};
